/* GLOBAL */
:root{
    /* FONT */
    font-family: sans-serif;
    font-size: 62.5%;

    /* GAP */
    --small-gap: .2rem;
    --gap: 3rem;
    --big-gap: 10rem;

    /* COLOR */
   --primary-color: #171616;
   --transparencia-primary-color: #17161697;
   --secodary-color: #fff;
   --color: #323232;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    color: var(--secodary-color);
}

html{
    scroll-behavior: smooth;
}

h1{
    font-size: 3rem;
}

p{
    font-size: 1.9;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* HEADER */
header{
    width: 100%;
    background-color: var(--primary-color);
}

.header {
    position: relative;
    height: 10rem;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.navigation-header {
    margin-right: auto;
}

.header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navigation-header a{
    font-size: 1.7rem;
    margin-left: 1.5rem;
    opacity: .8;
}

.navigation-header a:hover{
    opacity: 1;
}

/* MAIN */
main{
    min-height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
}

.gallery{
    width: 90%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    text-transform: uppercase;
}

.project{
    padding: var(--small-gap);
    overflow: hidden;
    height: 42.45rem;
    position: relative;
}

.gallery-project-description{
    gap: 1rem;
    opacity: 0;
    display: flex;
    font-size: 1.7rem;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--secodary-color);
    font-weight: bolder;
}

.gallery-project-description .year{
    opacity: .7;
}

.project:hover .gallery-project-description{
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 100ms ease-in-out;
    background-color: var(--transparencia-primary-color);
}

.project > img{
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    display: block;
}

/* FOOTER */
footer{
    width: 100%;
    background-color: var(--primary-color);
}

.footer{
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0 5rem 0;
}


.footer > h2{
    opacity: .8;
    font-size: 3rem;
}

.navigation-footer{
    gap: var(--gap);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-footer > a{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;
}

.navigation-footer > a:hover{
    opacity: 1;
}

.contact-svg{
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    fill: currentColor;
}
